doctype html

html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")

    title= Breadboard
  body
    .container
      header.navbar.navbar-light.navbar-static-top
        h1.navbar-brand Breadboard

      .jumbotron
        h1.display-3 Breadboard
          | &nbsp;&nbsp;
          i.fa.fa-rocket
        p.lead Community Edition

      .card
        .card-header /github.com/owner/repository/blob/branch/path.js
        .card-block
          p.card-text Call a script hosted on github.
          p.card-text
            | ex:
            code /github.com/a7medkamel/taskmill-help/blob/master/helloworld.js
            | &nbsp;
            a.btn.btn-primary(href='http://localhost:8070/github.com/a7medkamel/taskmill-help/blob/master/helloworld.js')
              i.fa.fa-rocket &nbsp;&nbsp;
              | Try it!
              
      //- .card
        //- .card-header /run
        //- .card-block
        //-   p.card-text To run arbitrary code, set <code>blob</code> header to the base64 encoded script you want to run. Your script will be run and the response returned.


      .card
        .card-header GET /ls/github.com/owner/repository.git
        .card-block
          p.card-text Lists all the .js files in a given git repository.
          p.card-text
            | ex:
            code /ls/github.com/a7medkamel/taskmill-help.git
            | &nbsp;
            a.btn.btn-primary(href='http://localhost:8040/ls/github.com/a7medkamel/taskmill-help.git')
              i.fa.fa-rocket &nbsp;&nbsp;
              | Try it!

      .card
        .card-header POST /pull/github.com/owner/repository.git
        .card-block
          p.card-text Updates the local copy of a given repository by pulling it from it's remote location.