extends ./layout/common.pug

block append scripts
  script(src="/js/bundle.js")
  
//- block append scripts
//-   script.
//-     window.seed = {
//-       token : "!{token}"
//-     }
//- 
//-   script.
//-     if (window.seed.token) {
//-       store.set('breadboard_token', window.seed.token);
//-     }
//- 
//-     var token = store.get('breadboard_token');

block append content      
  .container
    .jumbotron
      h1.display-3 Breadboard
        | &nbsp;&nbsp;
        i.fa.fa-rocket
      p.lead Community Edition
      .dropdown
        button#dropdown-login.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          if user
            = user.id
          else
            | Login
        .dropdown-menu(aria-labelledby='dropdown-login')
          each strategy in strategies
            a.dropdown-item(href=strategy.login_url)= strategy.name

    p
      .card
        .card-header /github.com/owner/repository/blob/branch/path.js
        .card-body
          p.card-text Call a script hosted on github.
          p.card-text
            | ex:
            code /github.com/a7medkamel/taskmill-help/blob/master/helloworld.js
            | &nbsp;
            a.btn.btn-primary(href='/github.com/a7medkamel/taskmill-help/blob/master/helloworld.js')
              i.fa.fa-rocket &nbsp;&nbsp;
              | Try it!

    p
      .card
        .card-header GET /api/ls/github.com/owner/repository.git
        .card-body
          p.card-text Lists all the .js files in a given git repository.
          p.card-text
            | ex:
            code /api/ls/github.com/a7medkamel/taskmill-help.git
            | &nbsp;
            a.btn.btn-primary(href='/api/ls/github.com/a7medkamel/taskmill-help.git')
              i.fa.fa-list-alt &nbsp;&nbsp;
              | Try it!

    p
      .card
        .card-header GET /api/pull/github.com/owner/repository.git
        .card-body
          p.card-text Updates the local copy of a given repository by pulling it from it's remote location.
          p.card-text
            | ex:
            code /api/pull/github.com/a7medkamel/taskmill-help.git
            | &nbsp;
            a.btn.btn-primary(href='/api/pull/github.com/a7medkamel/taskmill-help.git')
              i.fa.fa-git &nbsp;&nbsp;
              | Try it!
    
    if user 
      p   
        .card
          .card-header Generate Key
          .card-body
            p.card-text 
              | You can use this Key which doesn't expire instead of a JWT. Add it to your requests to run scripts in private repositories.
            p.card-text 
              a.btn.btn-primary(href='/api/key')
                i.fa.fa-key &nbsp;&nbsp;
                | Generate Key!
              
      p   
        .card
          .card-header JWT Token
          .card-body
            p.card-text You can use this JWT token with your requests to run scripts in private repositories. Set the 'authorization' header to:
            p.card-text
              pre= bearer
              //- | &nbsp;
              //- a.btn.btn-primary(href='/api/pull/github.com/a7medkamel/taskmill-help.git')
              //-   i.fa.fa-git &nbsp;&nbsp;
              //-   | Try it!
